*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p2{
    color: blue;
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input#txtidi{

    height:20px;
}

p{
    font-size: x-large;
}